#tabla, th, td {
    border: 1px solid;
    color: rgb(48, 10, 10);
    text-align: center;
}
#tabla {
    border-collapse: collapse;
    width: 50%;
    background-color: aquamarine;
}

#messages {
    position: fixed;
    bottom: 0;
    left: 5px;
}

